body {
      width: 100%;
  margin: 0
font-family: sans-serif
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px;
  background-color: silver;
      width: 98%;
}
}
header .logo{

}

header .registrarse{
  display: flex;
font-size: 17px;
align-items: center;
}
}
}
header .registrarse img{
}
header .registrarse p{
}
nav {
  background-color: black;
      width: 100%;
}
nav ul{
  list-style: none;

  padding: 0;
  margin: 0;
  display: flex;
justify-content: flex-end;
}
nav ul li{

}
nav ul li a{
  color: white;
  text-decoration: none;
  font-size: 21px;
  padding: 37px;
  display: block;
}
section {
  display: flex;
    padding: 40px;
    grid-gap: 40px;
    font-size: 24px;
    align-content: center;
}

main {
  display: flex;
      padding: 40px;
      grid-gap: 40px;
      align-items: center;
      justify-content: space-between;
}
footer {
  background-color: black;
      color: floralwhite;
      text-align: center;
      padding: 20px 20px 60px;
      font-size: x-large;
}
@media screen and (min-widh: 500px) and (max-widh: 1000px){

  section{
    display: flex;
  padding: 40px;
  grid-gap: 40px;
  font-size: 24px;
  align-content: center;
  flex-direction: column;
  }

main{
      flex-direction: column-reverse;
}
main .imagenlateral img {
  width: 100%;
}


@media screen and (max-widh: 499px){



main{
      flex-direction: column-reverse;
}
main .slider img {
  width: 100%;
}
header{
  flex-direction: column;

}
}
